html {
    color: white;
    background-color: #333;
}

body {
    margin: 0.5em;
}

.headerlink {
    color: #4d4d4d;
}

#content {
    padding: 0.5em;
}

a {
    color: #00cff1;
    border-bottom: 1px dotted;
    text-decoration: none;   /* taken care of with the border-bottom thing */
}

a:hover {
    color: #f99c3f;
    border-bottom: 1px solid;
}

.box {
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.3em;
}
.definition { background-color: #1c1c1c; }
.theorem { background-color: #110fbd; }
.proof { background-color: #2b538f; }
.example { background-color: #5c3761; }

h1, h2, h3, h4, h5, h6 {
    font-family: Quicksand;
}

p, li, #sidebar {
    font-family: Cabin;
    line-height: 140%;
}

div.clock {
    position: relative;
    width: 20em;
    height: 20em;
}
div.clock > button {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);  /* "left" and "right" are actually coordinates of center */
}
div.clock > button:nth-child(1) { left: calc(10em + 9em*sin(0deg)); top: calc(10em - 9em*cos(0deg)); }
div.clock > button:nth-child(2) { left: calc(10em + 9em*sin(30deg)); top: calc(10em - 9em*cos(30deg)); }
div.clock > button:nth-child(3) { left: calc(10em + 9em*sin(60deg)); top: calc(10em - 9em*cos(60deg)); }
div.clock > button:nth-child(4) { left: calc(10em + 9em*sin(90deg)); top: calc(10em - 9em*cos(90deg)); }
div.clock > button:nth-child(5) { left: calc(10em + 9em*sin(120deg)); top: calc(10em - 9em*cos(120deg)); }
div.clock > button:nth-child(6) { left: calc(10em + 9em*sin(150deg)); top: calc(10em - 9em*cos(150deg)); }
div.clock > button:nth-child(7) { left: calc(10em + 9em*sin(180deg)); top: calc(10em - 9em*cos(180deg)); }
div.clock > button:nth-child(8) { left: calc(10em + 9em*sin(210deg)); top: calc(10em - 9em*cos(210deg)); }
div.clock > button:nth-child(9) { left: calc(10em + 9em*sin(240deg)); top: calc(10em - 9em*cos(240deg)); }
div.clock > button:nth-child(10) { left: calc(10em + 9em*sin(270deg)); top: calc(10em - 9em*cos(270deg)); }
div.clock > button:nth-child(11) { left: calc(10em + 9em*sin(300deg)); top: calc(10em - 9em*cos(300deg)); }
div.clock > button:nth-child(12) { left: calc(10em + 9em*sin(330deg)); top: calc(10em - 9em*cos(330deg)); }

div.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.all-notes-table {
    display: grid;
    justify-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
